# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# 虚拟环境
venv/
ENV/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# investpy下载的临时文件
*.csv
*.xls
*.xlsx 